*{
    margin: 0;
    padding: 0;
}


a{
    color: #42b983;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.8s;
    border-bottom: 2px solid white;
    padding: 10px !important;
}

a:hover{
  border-bottom: 2px solid #42b983;
}
.router-link-active{
    background-color: #42b983;
    color: white;
}

h1{
    cursor: pointer !important;
}
h2{
    cursor: pointer !important;
}

.low-task{
  background-color: #48C9B0 !important;
}

.middle-task{
    background-color: #F7DC6F !important;
}

.hight-task{
    background-color: #E74C3C !important;
}




.cmsMng-transition-begin{
    opacity: 0;

    transition: all 1s;
    transform: translateX(-30px);
    overflow: hidden;
}
.cmsMng-transition-end{
    transition: all 1s;
    opacity: 1;
}

.loginfo-transition-begin{
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(-30px);
    overflow: hidden;
}
.loginfo-transition-end{
    transition: all 0.3s;
    opacity: 1;
}


.check-mng-transition-begin{
    opacity: 0;
    transition: all 1s;
    transform: translateX(300px);
    overflow: hidden;
}

.check-mng-transition-end{
    transition: all 1s;
    opacity: 1;
}

.task-container-transition-begin{
    opacity: 0;
    transition: all 1s;
    transform: translateY(300px);
    overflow: hidden;
}
.task-container-transition-end{
    transition: all 1s;
    opacity: 1;
}

.mng-center-transition-begin{
    opacity: 0;
    transition: all 1s;
    transform: translateX(300px);
    overflow: hidden;
}

.mng-center-transition-end{
    transition: all 1s;
    opacity: 1;
}












