*{
    margin: 0;
    padding: 0;
}


a{
    color: #42b983;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.8s;
    border-bottom: 2px solid white;
    padding: 10px !important;
}

a:hover{
  border-bottom: 2px solid #42b983;
}
.router-link-active{
    background-color: #42b983;
    color: white;
}

h1{
    cursor: pointer !important;
}
h2{
    cursor: pointer !important;
}

.low-task{
  background-color: #48C9B0 !important;
}

.middle-task{
    background-color: #F7DC6F !important;
}

.hight-task{
    background-color: #E74C3C !important;
}


